<?xml version="1.0"?>
<robot name="husky_ros2_control" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="husky_ros2_control" params="mode prefix base_name">

    <xacro:include filename="$(find romea_mobile_base_description)/ros2_control/base4WD.ros2_control.xacro" />

    <xacro:property name="conf" value="$(find husky_description)/config/husky.yaml" />
    <xacro:include filename="$(find husky_description)/urdf/husky_properties.xacro" />

    <xacro:if value="${mode == 'simulation_gazebo'}">
      <xacro:property
        name="hardware_plugin"
        value="romea_mobile_base_gazebo/GazeboSystemInterface" />
    </xacro:if>

    <xacro:if value="${mode == 'simulation_gazebo_classic'}">
      <xacro:property name="hardware_plugin"
        value="romea_mobile_base_gazebo/GazeboSystemInterface4WD" />
    </xacro:if>

    <xacro:if value="${'4dv' in mode or 'isaac' in mode}">
      <xacro:property
        name="hardware_plugin"
        value="romea_mobile_base_simulation/GenericSimulationSystemInterface" />
    </xacro:if>

    <xacro:if value="${mode ==  'live'}">
      <xacro:property name="hardware_plugin"
          value="husky_hardware/HuskyHardware" />
    </xacro:if>
    
    <xacro:base_control_model/>

    <xacro:base_control
      mode="${mode}"
      base_name="${base_name}"
      hardware_plugin="${hardware_plugin}" />

  </xacro:macro>

</robot>