<?xml version='1.0' encoding='utf-8'?>
<robot name="husky_ros2_control_urdf" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="prefix" default="husky" />
  <xacro:arg name="mode" default="simulation" />
  <xacro:arg name="base_name" default="base" />


  <xacro:include filename="$(find husky_description)/ros2_control/husky.ros2_control.xacro" />

  <xacro:husky_ros2_control
    mode="$(arg mode)"
    prefix="$(arg prefix)"
    base_name="$(arg base_name)" />

</robot>