<?xml version="1.0"?>
<robot name="husky" xmlns:xacro="http://www.ros.org/wiki/xacro">

   <xacro:macro name="husky" params="mode prefix">

      <xacro:include filename="$(find romea_mobile_base_description)/urdf/base4WD.chassis.xacro" />
      <xacro:include filename="$(find husky_description)/urdf/visual/chassis.xacro" />
      <xacro:include filename="$(find husky_description)/urdf/visual/wheels.xacro" />
      <xacro:include filename="$(find husky_description)/urdf/visual/top.xacro" />

      <xacro:property name="conf" value="$(find husky_description)/config/husky.yaml" />
      <xacro:include filename="$(find husky_description)/urdf/husky_properties.xacro" />

      <xacro:chassis>
         <chassis_visuals>
           <xacro:chassis_visual />
         </chassis_visuals>
         <xacro:front_left_wheel_visual />
         <xacro:front_right_wheel_visual />
         <xacro:rear_left_wheel_visual />
         <xacro:rear_right_wheel_visual />
      </xacro:chassis>

      <xacro:chassis_top />

   </xacro:macro>

</robot>